sudo: false
# https://docs.travis-ci.com/user/trusty-ci-environment/
dist: trusty
language: python
python:
    # python versions used in el7 SCL & supported fedora
    - "3.5"
    - "3.6"
addons:
    # postgres versions provided by el7 RHSCL (lowest supportable version)
    postgresql: "9.5"
services:
    - postgresql
install:
    # dev_requirements should not be needed for testing; don't install them to make sure
    - "pip install -r test_requirements.txt"
    # add secret key to django settings.py
    - echo "SECRET_KEY = '$(cat /dev/urandom | tr -dc 'a-z0-9!@#$%^&*(\-_=+)' | head -c 50)'" >> platform/pulpcore/app/settings.py
    - "pushd common/ && pip install -e . && popd"
    - "pushd platform/ && pip install -e . && popd"
    - "pushd plugin/ && pip install -e .  && popd"
before_script:
    - psql -U postgres -c "CREATE USER pulp WITH SUPERUSER LOGIN;"
    - psql -U postgres -c "CREATE DATABASE pulp OWNER pulp;"
script:
    # flake8
    - "flake8 --config flake8.cfg"
    # chain these so we don't try to run tests if the db reset fails
    - "pulp-manager makemigrations pulp_app --noinput"
    - "pulp-manager migrate auth --noinput"
    - "pulp-manager migrate --noinput && pulp-manager test"
    - "pulp-manager test platform/pulpcore/app/tests"
