[Unit]
Description=Pulp Resource Manager
After=network.target

[Service]
EnvironmentFile=/etc/default/pulp_resource_manager
User=apache
WorkingDirectory=/var/run/pulp/
ExecStart=/usr/bin/celery worker -A pulp.server.async.app -n resource_manager@%%h\
          -Q resource_manager -c 1 --events --umask 18 --pidfile=/var/run/pulp/resource_manager.pid

[Install]
WantedBy=multi-user.target
