[Unit]
Description=Pulp Celery Workers
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/var/run/pulp/
ExecStart=/usr/bin/python3 -m  pulp.tasking.services.manage_workers start
ExecStop=/usr/bin/python3 -m  pulp.tasking.services.manage_workers stop

[Install]
WantedBy=multi-user.target
