[Unit]
Description=Pulp Celery Workers
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/python -m  pulp.server.async.manage_workers start
ExecStop=/usr/bin/python -m  pulp.server.async.manage_workers stop

[Install]
WantedBy=multi-user.target
