[Unit]
Description=Pulp's Celerybeat
After=network.target

[Service]
EnvironmentFile=/etc/default/pulp_celerybeat
User=apache
WorkingDirectory=/var/lib/pulp/celery/
ExecStart=/usr/bin/celery beat --scheduler=pulp.server.async.scheduler.Scheduler

[Install]
WantedBy=multi-user.target
