a {
  text-decoration: none;
  color: #3566a5;
}

a:hover {
  text-decoration: none;
}

body {
  background: #B5D6F7 url('../images/pulp-page-bg-ug.png') no-repeat top left;
  color: #111;
  font: 10pt/16pt "Droid Sans",sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 2px; 
  padding-bottom: 10px;
}

ul {
  margin: 0;
}

li {
  padding-bottom: 2px;
}


/* Tables */
table, th, td {
  border: 1px solid #555555;
  margin-bottom: 6px;
  margin-left: 20px;
  margin-right: 20px;
}

td {
  vertical-align: top;
  padding: 4px;
}

/* Main content pane for wiki -> HTML generated pages */
#wikipage {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 100px;
  padding: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
}

/* Header stuff ripped from pulp.css */
#header {
  height: 150px;
}

#logo {
  width: 298px;
  height: 162px;
  margin-left: 0px;
  background: url('../images/pulp-v1-logo.png') no-repeat left top;
  position: absolute;
  left: 0px;
  top: 0px;
}

.invisible {
  display: none;
}

/* Section Headers */
h1, h2, h3 {
  font-weight: bold;
}

h1 {
  color: #d06911;
  text-shadow: #999 -1px 1px 2px;
  font-size: 1.7em;
  line-height: 1.7em;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.3em;
  line-height: 1.3em;
  color: #56a111;
  margin-bottom: 8px;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  color: #d06911;
  margin-top: 14px;
  margin-bottom: 4px;
}

h4 {
  font-size 1em;
  line-height: 1em;
  color: #555555;
  margin-bottom: 6px;
}

/* Code */
pre {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 6px;
  margin-bottom: 6px;
  background: #cfdfef;
  padding: 4px;
  border-radius: 10px;
  line-height: 1.4em;
  -moz-border-radius: 10px;
}

/* Dividers */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* API Table of Contents */
.wiki-toc ol {
  line-height: 1.2em;
  list-style-type: circle;
  list-style-type: circle;
  margin-top: -10px;
}

