[ req ]
default_bits           = 2048
distinguished_name     = req_distinguished_name
prompt                 = no
[ req_distinguished_name ]
C                      = US
ST                     = NC
L                      = Raleigh
O                      = Red Hat
OU                     = Pulp 
CN                     = REPLACE_COMMON_NAME
emailAddress           = pulp@example.com



