# When built from RPM, the below version of "0.0.0" will be 
# replaced with the version in the spec file
policy_module(pulp-server,0.0.0)
require {
    type httpd_t;
    type rpm_var_lib_t;
}

type pulp_cert_t;
miscfiles_cert_type(pulp_cert_t)
manage_files_pattern(httpd_t, pulp_cert_t, pulp_cert_t)
manage_dirs_pattern(httpd_t, pulp_cert_t, pulp_cert_t)
read_lnk_files_pattern(httpd_t, pulp_cert_t, pulp_cert_t)

#https://bugzilla.redhat.com/show_bug.cgi?id=784280#c2
dontaudit httpd_t rpm_var_lib_t:dir { getattr search open };

