[Unit]
Description=The Pulp lazy content loading streamer
After=network-online.target
Wants=network-online.target

[Service]
User=apache
ExecStart=/usr/bin/pulp_streamer --nodaemon --syslog --prefix=pulp_streamer --pidfile= --python /usr/share/pulp/wsgi/streamer.tac

[Install]
WantedBy=multi-user.target
