#middleware #head h1 a { background: url('/static/images/branding/middleware-logo.png') no-repeat; }
#middleware #navbar { background-image: url('/static/images/template/background-navbar_planes.png'); }
#middleware #navbar .active { background-image: url('/static/images/template/background-navbar-active_planes.png'); }
#middleware #details { border-top: 1px solid #e8e886; }
