* 
{
  margin: 			0;
  padding:			0;
}

html, body {
  height:			100%;
}

body {
  background-image:		url('/static/images/template/background.png');
  background-repeat:		repeat-x;
  background-color:		#f9f9f9;
  margin:			0px;
  padding:			0px;
  padding-top:			16px;
  min-width:			750px;
}

body, h1, h2, h3, h4, h5, p, ul, li {
  font-family:			"Luxi Sans", "Gill Sans", "Verdana", "Helvetica", sans-serif;
}

#head {
  margin:			0px;
  padding:			0px;
  padding-left:			12px;
} 

#head h1 a {
  display:			block;
  text-indent:			-9999px;
  height:			75px;
  width:			350px;
  overflow:			hidden;
  float:			left;

  background:			url('/static/images/branding/logo.png') no-repeat;
}

#ponies #head h1 a { background: url('/static/images/branding/logo-ponies.png') no-repeat !important; }
#planes #head h1 a { background: url('/static/images/branding/logo-planes.png') no-repeat; }
<<<<<<< HEAD:pulp/static/css/style.css
#bonbons #head h1 a { background: url('/static/images/branding/logo-bonbons.png') no-repeat; }
#snakes #head h1 a { background: url('/static/images/branding/logo-snakes.png') no-repeat; }
=======
>>>>>>> 5e44058090f93c2a9448859da62f2572a5c509aa:pulp/static/css/style.css

#searchbar {
  float: 			right;
  margin-right: 		24px;
  margin-top: 			18px;
}

#navbar {
  width: 			100%;
  height: 			70px;
  margin: 			0px;
  clear:			both;

  background-image:		url('/static/images/template/background-navbar.png');
  background-repeat:		repeat-x;

}


#ponies #navbar { background-image: url('/static/images/template/background-navbar_ponies.png'); }
#planes #navbar { background-image: url('/static/images/template/background-navbar_planes.png'); }
<<<<<<< HEAD:pulp/static/css/style.css
#bonbons #navbar { background-image: url('/static/images/template/background-navbar_bonbons.png'); }
#snakes #navbar { background-image: url('/static/images/template/background-navbar_planes.png'); }
=======
>>>>>>> 5e44058090f93c2a9448859da62f2572a5c509aa:pulp/static/css/style.css

#navbar ul {
  margin:			0px;
  padding:			0px;
  padding-left:			10px;
  list-style:			none;
}

#navbar li {
  float:			left;
  margin:			0px;
  padding:			0px;
  
  font-size:			small;
}

#navbar a {
  display:			block;
  margin:			22px 15px;
}

#navbar .active {
  background-image:		url('/static/images/template/background-navbar-active.png');
  height:			70px;
  width:			116px;

  text-align:			center;
}

#ponies #navbar .active { background-image: url('/static/images/template/background-navbar-active_ponies.png'); }
#planes #navbar .active { background-image: url('/static/images/template/background-navbar-active_planes.png'); }
<<<<<<< HEAD:pulp/static/css/style.css
#bonbons #navbar .active { background-image: url('/static/images/template/background-navbar-active_bonbons.png'); }
#snakes #navbar .active { background-image: url('/static/images/template/background-navbar-active_planes.png'); }
=======
>>>>>>> 5e44058090f93c2a9448859da62f2572a5c509aa:pulp/static/css/style.css

#content {
  width:			100%;
  min-height:			100%;

  background-color:		#f9f9f9;
  background-image:		url('/static/images/template/background-content.png');
  background-repeat:		repeat-x;
}

#details {
  height: 			100%;
  margin:			0px 24px;
  margin-right:			300px;

  padding:			18px 18px;
  border-top:			1px solid #aaa;
  background-color:		white;
}

#ponies #details { border-top: 1px solid #df00d4; }
#planes #details { border-top: 1px solid #e8e886; }
<<<<<<< HEAD:pulp/static/css/style.css
#bonbons #details { border-top: 1px solid #facbdf; }
#snakes #details { border-top: 1px solid #444; }
=======
>>>>>>> 5e44058090f93c2a9448859da62f2572a5c509aa:pulp/static/css/style.css

#sidebar {
  width:			250px;
  
  padding:			18px 12px;
  margin-right:			24px;
  float:			right;
  height:			100%;

  background-color:		#ccc;
  background-image:		url('/static/images/template/background-sidebar.png');
  background-repeat:		repeat-y;
}

#sidebar h1, h2, h3 {
  padding:			0px;
  margin:			0px;
}

#sidebar h2 { font-size: 	medium; }
#sidebar h3 { font-size: 	small; }

#sidebar ul {
  padding:			0px;
  margin:			0px;
  list-style:			none;
  padding-bottom:		10px;
}

#sidebar ul, #sidebar li  {
  margin-bottom:		6px;
  font-size:			small;
}

#sidebar hr {
  border-top:			1px solid #aaa;
  border-bottom:		1px solid #ddd;
  color:			#ddd;
  margin-top:			20px !important;
  margin-bottom:		20px !important;
}

input.text {
  border:			1px solid #8e8e8e;
  background-color:		#e5f1f4;
  color:			#444444;
}

input.button {

}

#navbar-secondary li {
  font-size:			medium;
}

#navbar-secondary .active a:link,
#navbar-secondary .active a:visited,
#navbar-secondary .active a:active,
#navbar-secondary .active a,
#navbar-secondary li
{
  color:			#555 !important;
  text-decoration:		none; 
  font-weight:			bold;
}

#details * {
  color:			#444;
  vertical-align:		middle;
}

#details p,
#details td,
#details li {
  font-size:			small;
  color:			#555;
}

#details h1 {
  color:			#7d7d5b;
  font-size:			x-large;
  margin-bottom:		18px;
  height:			40px;
  padding-left:			48px;
  padding-top:			6px;
  vertical-align:		middle;
}

#details h1.user {
  background-image:		url('/static/images/objects/object-user.png');
  background-repeat:		no-repeat;
}

#details h2, #details table caption {
  color:			#999;
  font-size:			large;
  font-weight:			normal;

  border-bottom:		1px solid #999;
  margin-bottom:		10px;

  text-align:			left;
  width:			100%;
}

table.details {
  margin-bottom:		18px;
}

#details table.details th {
  font-size:			small;
  width:			150px;
  padding:			4px 0px;
  padding-right:		8px;
  border-bottom:		1px dotted #ddd;
}

#details table.details th.even { background-color: white; }
#details table.details th.odd { background-color: #eee; }

#details table.details td {
  padding-left:			8px;
  border-bottom:		1px dotted #ddd;
  width:			60%;
}

#alertbox {
  width:			100%;
  padding:			10px 0px;
  margin-bottom:		18px;
  vertical-align:		middle;

  -moz-border-radius:		6px;
  background-color:		#7d7d5b;
  color:			white;
}

#alertbox h2 {
  width:			auto;
  padding:			0px 16px;
  float:			left;
  font-size:			medium;
  text-transform:		uppercase;
  color:			white;
  font-weight:			bold;
  border:			none;
}

#alertbox p {
  padding:			0px 16px;
  text-align:			center;
  color:			white;
}

td, th {
  text-align:			left;
}
