[Unit]
Description=Pulp Celery Worker
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/pulp_workers
EnvironmentFile=-/etc/default/pulp_workers_%i
User=apache
WorkingDirectory=/var/run/pulp_worker_%i/
RuntimeDirectory=pulp_worker_%i
ExecStart=/usr/bin/celery worker -A pulp.tasking.celery_app:celery\
          -n reserved_resource_worker_%i@%%h -c 1 --events --umask 18\
          --pidfile=/var/run/pulp_worker_%i/reserved_resource_worker_%i.pid

[Install]
WantedBy=multi-user.target
