module pulp 1.1;

require {
    type httpd_tmp_t;
    type httpd_log_t;
    type cert_t;
    type httpd_tmpfs_t;
    type httpd_t;
    type var_t;
    type var_lib_t;
    type var_log_t;
    type port_t;
    type amqp_port_t;
    class sock_file { write create unlink setattr };
    class tcp_socket name_connect;
    class lnk_file { create unlink };
    class dir { rename setattr create write rmdir remove_name add_name };
    class file { write rename execute read create unlink open getattr append };
}

#============= httpd_t ==============
allow httpd_t amqp_port_t:tcp_socket name_connect;
allow httpd_t cert_t:dir { write remove_name create add_name rmdir };
allow httpd_t cert_t:file { write create unlink };
allow httpd_t httpd_log_t:file { write rename unlink create};
allow httpd_t httpd_tmp_t:file execute;
allow httpd_t httpd_tmpfs_t:file execute;
allow httpd_t port_t:tcp_socket name_connect;
allow httpd_t var_lib_t:dir { rename create rmdir setattr };
allow httpd_t var_lib_t:file { write append };
allow httpd_t var_lib_t:lnk_file {create unlink};
allow httpd_t var_t:file { read getattr open };
allow httpd_t var_t:sock_file { write create unlink setattr };
allow httpd_t var_log_t:file write;
