# When built from RPM, the below version of "0.0.0" will be 
# replaced with the version in the spec file
policy_module(example,1.0.0)
require {
    type tmp_t;
    type cert_t;
    type qpidd_t;
}

allow qpidd_t tmp_t:dir { read getattr search };
allow qpidd_t cert_t:dir { read getattr search };
allow qpidd_t cert_t:file { read getattr open };


